@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@1&display=swap');

*{
  margin: 0;
  padding: 0;
}

html,body{
  width: 100%;
  height: 100%;
}

.ruleheader{
  font-size: 600%;
  font-family: Bai Jamjuree;
  text-align: center;
  margin-top: 2vh;
  font-weight: bold;
}

.normaltext{
  font-size: 150%;
  font-family: Bai Jamjuree;
  width: 80%;
  display: block;
  margin: 0 auto;
}

#navbarwrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1%;
  grid-row-gap: 6%;
}

.navbutton{
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 8vh;
  background: linear-gradient(#5cffd1,#5cdcff);
  border: none;
  outline: none;
  font-family: Bai Jamjuree;
  font-size: 2vw;
  cursor: pointer;
}

.dropdown-content{
  position: absolute;
  width: 30%;
  display: none;
}

.dropdown-content a{
  display: block;
  width: 80%;
  height: 5vh;
  font-size: 1.5vw;
  font-family: Bai Jamjuree;
  color: black;
  text-decoration: none;
  background-color: #d3f2e9;
  text-align: center;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content a:hover{
  background-color: #779e93;
}

#homebutton{
  grid-column: 1/span 3;
  height: 5vh;
  font-size: 1.5vw;
  font-family: Bai Jamjuree;
  background-color: #007864;
  color: white;
  text-align: center;
  cursor: pointer;
  line-height: 5vh;
}
#homebutton:hover{
  background-color: #88c2b8;
  color: black;
}

.headertwo{
  font-size: 400%;
  font-family: Bai Jamjuree;
  width: 100%;
  text-align: center;
}

#outputwrapper{
  width: 85%;
  height: 30vh;
  border: 2px solid black;
  display: block;
  margin: 1% auto 0 auto;
}
